h1 {

    font-size: larger;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-background-size: 100%
}

button {
    margin: 1rem;
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}


.container {
    width: 600px;
    padding: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
    background-color: darkslategrey;
}

.input {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input * {
    width: 120px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}